<h1>CPF JÁ CADASTRADO OU INVALIDO</h1><br /><br />
<p>

    CPF PODE TER SIDO CADASTRADO ANTERIORMENTE<br /><br />
    INSIRA APENAS NUMERO EX: 09266472611

</p>
<br />
<div>

     <a class="btn btn-primary" asp-controller="Alunos" asp-action="Inserir">Voltar</a>
</div>